:root {
  --red: #d91400;
  --green: #007c32;
}

main {
  max-width: 1520px;
  margin: 0 auto;
  padding: 0 0.4rem;

  h1 {
    font-size: 2.4rem;
    margin-bottom: 3.2rem;
    margin-top: 2.4rem;
  }
}

table {
  width: 100%;
  color: #232526;
  border-spacing: 0;

  tr {
    height: 4rem;
  }

  thead {
    font-size: 1.2rem;
    font-weight: 600;

    th {
      text-align: right;
      border-bottom: 1px solid #e5e7eb;
    }
    th:first-child {
      text-align: left;
    }
  }

  tbody {
    font-size: 1.4rem;

    th {
      text-align: left;
      font-weight: 600;
      border-bottom: 1px solid #e5e7eb;
    }

    td {
      text-align: right;
      border-bottom: 1px solid #e5e7eb;
    }

    .chg,
    .chgP {
      color: var(--green);
      font-weight: 600;
    }
  }
}
