.wallet-overlay {
  position: fixed;
  inset: 0;
  display: none;
}

.wallet {
  display: none;
  z-index: 100;
  color: #232223;
  position: absolute;
  top: 4rem;
  background-color: white;
  border: 1px solid #d9dcdf;
  width: 30rem;
  right: 0;
  border-radius: 4px;

  .wallet-header {
    padding: 1rem 0;
    text-align: center;
    border-bottom: 1px solid #d9dcdf;
    font-size: 1.4rem;
    font-weight: 600;
  }

  .wallet-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.6rem;
    padding: 3rem 1rem;

    .account-info {
      display: flex;
      flex-direction: column;
      align-items: center;
      font-size: 1.4rem;
      font-weight: 500;

      img {
        width: 6rem;
        height: auto;
        margin-bottom: 1rem;
      }

      span:last-child {
        font-weight: 400;
      }
    }

    .balance {
      font-size: 2rem;
    }

    input.deposit {
      display: none;
      border: none;
      border-radius: 0.6rem;
      background-color: #e5e7eb;
      margin: 0;
    }
  }

  .wallet-footer {
    display: flex;
    align-items: center;
    margin: 0 1rem;
    margin-bottom: 1.2rem;

    button {
      flex: 1;
      color: #232223;
      font-size: 1.6rem;
      font-weight: 600;
      border: 1px solid #d9dcdf;
      padding: 0.6rem;
    }

    button.deposit {
      border-radius: 0.6rem 0 0 0.6rem;
    }

    button.withdraw {
      border-left: none;
      border-radius: 0 0.6rem 0.6rem 0;
    }

    button.confirm {
      display: none;
      border-radius: 0.6rem;
    }
  }
}
